
<table style="text-align:center"><tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="1" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>ingtot</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">age</td><td>60,610.810<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(8,833.082)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">age2</td><td>-362.178<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(101.994)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">formalInformal</td><td>-1,494,579.000<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(41,316.910)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>623,347.400<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(179,811.600)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>16,397</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.089</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.088</td></tr>
<tr><td style="text-align:left">Residual Std. Error</td><td>2,563,783.000 (df = 16393)</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>531.187<sup>***</sup> (df = 3; 16393)</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
